# Dog Tags Exercises

If you want to work on these on your own go to File -> Save a copy in Drive... to work on these exercises for yourself.

If you want to find where the file was saved in your drive use File -> Locate in Drive

In [0]:
import pandas as pd

In [2]:
#Change header
dogs = pd.read_csv('https://raw.githubusercontent.com/benartuso/nodef19/master/data/01-intro-to-pandas/dog_tags.csv', header = 0)
dogs.head()

   RecordID  FeeAmount  ... TagYear BlockNumber
0         1          4  ...    2016      1100.0
1         2          4  ...    2016      1000.0
2         3          4  ...    2015      1000.0
3         4         12  ...    2013     11000.0
4         5          4  ...    2015       700.0

[5 rows x 8 columns]

In [0]:
dogs.columns = ['id', 'fee', 'exp_date', 'street', 'number', 'type', 'year', 'block']

### Minor Data Cleaning

Some null values exist in the 'street' column so to make this exercise easier we're going to remove them

In [0]:
dogs_clean = dogs.dropna(subset=['street'])

# Pandas Exercises


1.   How many tags are given for each year? 
2.   How many tags are there for each type of road? (AVE, RD, etc)
3.   How much money was spent in 2015 on dog tags?

In [5]:
dogs_clean.head()

   id  fee                  exp_date  ...                       type  year    block
0   1    4  2016-08-13T04:00:00.000Z  ...  Unsexed - 1 Year           2016   1100.0
1   2    4  2017-03-15T04:00:00.000Z  ...  Unsexed - 1 Year           2016   1000.0
2   3    4  2016-10-25T04:00:00.000Z  ...  Unsexed - 1 Year           2015   1000.0
3   4   12  2016-07-04T04:00:00.000Z  ...  Unsexed - 3 Year           2013  11000.0
4   5    4  2018-08-02T04:00:00.000Z  ...  Unsexed - 1 Year           2015    700.0

[5 rows x 8 columns]

In [6]:
dogs_clean['year'].value_counts()

2012    2243
2013    2175
2015    2006
2014    1929
2011    1900
2018    1896
2016    1833
2017    1611
2010    1487
2019    1241
2009       2
Name: year, dtype: int64

In [8]:
dogs_clean['street'].apply(lambda x: x.split(' ')[-2]).value_counts()

AVE           5876
ST            3264
RD            3190
DR            1613
LN            1044
CT             566
CIR            457
PL             456
UNASSIGNED     313
NW             262
SW             201
NE             199
SQ             107
TER             95
UNKNOWN         95
SE              82
BLVD            81
WAY             72
S               65
EXT             55
WOODS           38
PLZ             36
N               32
TRL             19
CRES            19
WOOD            15
BYPASS          13
CMN             13
E               13
CNTR            11
PARK             9
W                7
HILL             5
Name: street, dtype: int64

In [9]:
dogs_clean[dogs_clean['year'] == 2015]['fee'].sum()

15170

# Pandas Exercises Solutions

#### 1. How many tags are given for each year?

In [0]:
dogs_clean['year'].value_counts()

2012    2243
2013    2175
2015    2006
2014    1929
2011    1900
2018    1896
2016    1833
2017    1611
2010    1487
2019    1241
2009       2
Name: year, dtype: int64

#### 2. How many tags are there per street type? (AVE, RD, etc)

In [0]:
street_type = dogs_clean['street'].apply(lambda val: val.split(' ')[-2])
street_type.value_counts()

AVE           5876
ST            3264
RD            3190
DR            1613
LN            1044
CT             566
CIR            457
PL             456
UNASSIGNED     313
NW             262
SW             201
NE             199
SQ             107
TER             95
UNKNOWN         95
SE              82
BLVD            81
WAY             72
S               65
EXT             55
WOODS           38
PLZ             36
N               32
TRL             19
CRES            19
WOOD            15
CMN             13
BYPASS          13
E               13
CNTR            11
PARK             9
W                7
HILL             5
Name: street, dtype: int64

### 3. How much money was spend in 2015 on dog tags?

In [0]:
tags_2015 = dogs_clean[dogs_clean['year'] == 2015]
fees_2015 = tags_2015['fee']
sum(fees_2015)

15170

### 4.

In [0]:
dogs_clean[dogs_clean['street'] == 'GROVE AVE ']
dogs_clean[(dogs_clean['block'] == 1100.0) & (dogs_clean['street'] == 'GROVE AVE ')]

          id  fee  ...  year   block
0          1    4  ...  2016  1100.0
13798  13799    4  ...  2016  1100.0
15864  15865   12  ...  2019  1100.0

[3 rows x 8 columns]